
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  background-color: #32065c;
  margin: 0;
}



a{
  color: #ffffff;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  height: 265px;
  width: 180px;
  background-color: #c77dff;
  border-radius: 2px;
  padding-top: 0em;
  padding-left: 1.5%;
  display: inline-flex;
  margin: 2%;
  text-align: center;
  align-items: center;
  transition: top ease 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.3s;
}

.card h1 {
  font-size: 15px;
}


.navbar {
  display: flex;
  padding: 1px;
  background-color: #240046;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.logo {
  width: 80%;
  position: relative;
  left: 40px;
  top: 2px;
}

.logodiv {
  width: 20%;
}

.menu {
  display: flex;
}


.menu li {
  list-style: none;
  margin: 0.3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color:  #3a1c58;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 15px;

}

.menu .active {
  color: #67696b;
}

.menu a:hover {
  background-color: #7a157e;
  color: #191c32;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 14px;
}
