
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  background-color: #32065c;
  margin: 0;
}



a{
  color: #ffffff;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  height: 160px;
  width: 335px;
  background-color: #593475;
  border-radius: 2px;
  padding-top: 0em;
  padding-left: 2.5%;
  display: inline-flex;
  margin: 2%;
  text-align: center;
  align-items: center;
  transition: top ease 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.3s;
}

.card h1 {
  font-size: 9px;
  color: #fafafa;
  text-align: left;
  margin: 2px;
  text-transform: capitalize;
}

.card:hover {
  top: -10px;
  background-color: #200935;
  color: #ffffff;
  text-decoration: none;
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);

}

.cuadro {
  background-color: #fff;
  border-radius: 5px;
 
}

.Search {
 
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-align: right;
  height: 30px;
  width: 539px;
  padding-right: 7px;
 
}

.Search input {
  

 margin-top: -7px;
  border-radius: 6.5px;
  text-transform: capitalize;
  text-align: right;
  height: 32px;
  width: 339px;
 
  
}


.buscarboton {
  margin-top: -5px;
  width: 101px;
  height: 37px;
  text-align: center;
  border-style: none;
  cursor: pointer;
  background-color: #3e215a;
  color: white;

  font-size: 17px;
  font-weight: bold;
  border-radius: 6.5px;
  
}

.buscarboton:hover {
  background-color: #7235ac;
}


.navbar {
  display: flex;
  padding: 5px;
  background-color: #240046;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
 
}

.logo {
  width: 80%;
  position: relative;
  left: 40px;
  top: 2px;
}

.logodiv {
  width: 20%;
}

.menu {
  display: flex;
 
}


.menu li {
  list-style: none;
  margin: 0.3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color:  #3a1c58;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 8px;

}

.menu .active {
  color: #67696b;
}

.menu a:hover {
  background-color: #4d0950;
  color: #191c32;
  transition: ease-in 0.3s;
  font-weight: bold;
  border-radius: 0.1em;
  z-index: 2;
  padding: 14px;
}


.footer {
  background-color: #2d0c49;
  color: white;
  padding: 35px;
  overflow: hidden;
  height: 200%;
  height: 200px;
}

.equipo {
  width: 15%;
  margin: 2px;
  
}


.jugador {
  width: 85%;
  margin: 2px;
  
 
  
}
.ico {
  width: 30px;
  height: 30px;
  margin: 7px;
  cursor: pointer;
}


.footer a {
  color: #ffffff;
}

.footer p {
  color: #ffffff;
  font-size: 88%;
}